﻿<div id="aboutus">
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1">About Us</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="paddingTB60" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="strong">Who we are and<br>what we do?</h1>
                    <p class="lead">Meet our creativity</p>
                </div>
                <div class="col-md-6">
                    <p>We are Art Gallery - a small online store located in Bulgaria.</p>
                    <p>We have selected our most creative and unique ideas on our website. We offer a wide variety of handmade products that are suitable as a gift for your loved one. You can choose from paintings and home decorations to weding or birthday gifts. And maybe you want to buy something nice for yourself, then Art Gallery is the right place. We have amazing diaries and photo albums for children, birthdays, wedings and anniversaries. The drawings are painted by us or repainted from famous artists. We hope you like our products. </p>
                </div>
            </div>
        </div>
    </div>
</div>
