@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="page-privacy">
    <div class="">
        <h1 class="display-4 font-weight-bold mb-4">@ViewData["Title"]</h1>
        <br />

        <h1>Types of private information collected</h1>
        <p>To best serve your needs, we collect the following types of information when you visit Art Gallery.</p>
        <h2>Personal information</h2>
        <ul>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Email</li>
            <li>Address</li>
            <li>Username</li>
        </ul>

        <h2>Social media information</h2>
        <p>If you've linked your account with a social media or google account, we also collect information social media network give us. Depending on the social media network, this can include your username, name, email address, friends list, and more. In addition, we collect demographic data when users interact with Art Shop social media accounts.</p>

        <h2>Length of time personal information is stored</h2>
        <p>
            We may store your personal information for an extended period of time, depending on how we need to use the information. For example, we'll keep your email address and name on file as long as you have an account with us.
        </p>

        <h2>Information Security</h2>
        <p>We do our best to keep your private information secure and safe. Most of your personal information is encrypted and is therefore protected from being accessed by outside users. However, data leaks and malicious attacks do happen. Please understand that while we do our best to protect your data, providing your personal information is at your own risk.</p>
    </div>
</div>