<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtGallery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArtGallery.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navi">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ArtGallery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item active dropdown dmenu">
                            <div class="dropdown show">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="dropdownMenuLink navbardrop" data-bs-toggle="dropdown">
                                    Categories
                                </a>
                                <div class="dropdown-menu sm-menu" aria-labelledby="dropdownMenuLinkCategories">
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Keys">Key houses</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Paintings">Paintings</a>

                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Decor">Decorations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Calendars">Calendars</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="AlbumCards">Albums and Cards</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Artists</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrders">My Orders</a>
                            </li>
                        }
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Admin")))
                        {

                            <li class="nav-item active dropdown dmenu">
                                <div class="dropdown show">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1 dropdownMenuLink navbardrop"
                                       data-bs-toggle="dropdown">
                                        Dashboard
                                    </a>

                                    <div class="dropdown-menu sm-menu" aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" asp-controller="Order" asp-action="Index">Orders</a>
                                        <a class="dropdown-item" asp-controller="Artist" asp-action="Create">Add new artist</a>
                                        <a class="dropdown-item" asp-controller="Product" asp-action="Create">Add new product</a>
                                       @*  <a class="dropdown-item" href="/Client/Index">Clients</a>
                                        <a class="dropdown-item" href="/Statistic/Index">Statistic</a> *@
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <form asp-controller="Product" asp-action="Index" method="post">

                        <div class="container h-100">
                            <div class="d-flex justify-content-center h-100">
                                <div class="searchbar">
                                    <input class="search_input" type="text" name="SearchStringProductName" placeholder="Search...">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a asp-area="" asp-action="Index" asp-controller="WishList">Wishlist</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="ShoppingCart" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cart2 mx-4" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                            </svg>
                        </a>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ArtGallery - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
